[2021-05-08 03:43] linhandev opened #3 "打开图像后，每次添加一个点图像都会回到铺满屏幕缩放"
@geoyee

[2021-05-08 05:07] #3 closed

[2021-07-13 09:22] Ab-123 opened #6 "json"
标注保存的json文件和coco数据集json文件格式有什么区别，

[2021-07-13 09:29] Ab-123 commented on #6
怎么将保存的json文件转化为coco格式

[2021-07-13 17:00] linhandev commented on #6
目前的json和coco没有关系，这个json就是最简单的保存了目标的位置，id和颜色，目的让软件在翻过一张图片之后再翻回来可以重新展示之前的多边形。目前还有不少其他的地方需要修改所以这块先实现了一个简单的版本，coco和voc预计这周会研究至少上一个。

[2021-07-19 02:29] ly0303521 opened #7 "重新打开软件后再加载之前的图片，以前的标注信息没有了"
你好，工具很好用，但是每次关闭软件之后再加载以前的数据，以前的标注信息不能自动识别并显示出来，请问是我哪里没设置好，还是暂时没有实现这个功能

[2021-07-19 02:40] geoyee commented on #7
你好，目前这个功能还没有做，近期将会进行完善。

[2021-07-19 02:51] ly0303521 commented on #7
刚刚测试了，需要重启的时候选择 “改变标签保存路径”， 就可以加载以前的标签数据了

[2021-07-19 02:51] #7 closed

[2021-07-19 05:43] #6 closed

[2021-07-19 06:14] geoyee commented on #7
确实哈，我还以为没有准备加上，看来大佬已经加了，不好意思了

[2021-07-19 10:19] ly0303521 opened #8 "对以前标注好的图片再进行保存操作，会直接报错闪退"
如题，闪退的原因应该是保存时，标签列表越界了

[2021-07-19 11:42] ly0303521 commented on #8
找到原因了，在保存的时候有些 labelIdx 值不对， 但为什么 labelIdx 会写错，目前还不清楚

[2021-07-19 15:30] linhandev commented on #7
在运行过程中进行标签列表的保存或从文件加载都会把标签文件的路径存到软件配置里，下次启动自动加载回来

[2021-07-19 16:16] geoyee commented on #8
收到问题了，试了一下确实，感谢，将尽快解决

[2021-07-20 03:07] linhandev opened #9 "重名覆盖"
两张文件名相同，只有格式不同的图片在保存的时候标签都会存成 文件名.png，会互相覆盖

[2021-07-20 03:07] linhandev commented on #9
注意名字中间带点的情况

[2021-07-20 03:08] linhandev opened #10 "windows中文路径"
windows下有中文路径无法正常保存

[2021-07-20 03:12] ly0303521 commented on #8
@geoyee 根本原因找到了，原因是 ui.py  Class PolygonAnnotation 里面， self.labelIndex = index导致，因为label需要是从1开始，但是self.labelIndex是从0开始，每次重启之后会加载这个类，导致类别索引出错，改成  self.labelIndex = index - 1， 就不会报错了

[2021-07-20 03:12] #8 closed

[2021-07-21 03:12] geoyee commented on #9
这个已经搞定了

[2021-07-21 03:14] geoyee commented on #9
这个感觉就自己注意不要吧。。因为加载多边形也是根据这个来的

[2021-07-21 03:15] geoyee commented on #10
用imencode我这边Windows可以保存中文了，需要看看影不影响其他系统的保存

[2021-07-21 03:17] geoyee commented on #9
感觉这个只有自己注意不用重名吧。。因为加载多边形也是根据名字来的。要不加一个判断吗，有重名的就警告？

[2021-07-21 10:33] geoyee opened #11 "完成对象后多边形的编号改变"
问题大概出在app.py978行。这个问题将导致保留最大联通区和重加载多边形后修改产生多边形标签改变或越界问题。

[2021-07-21 13:08] linhandev commented on #11
问题描述：保存标签，重新加载，切换图片 -> 标签id变化

[2021-07-21 15:13] linhandev commented on #11
我觉得这个问题可能等我今天做完cooc格式保存之后看一下怎么解决，保存那个自己的json用户用起来很不方便。存完了看看怎么恢复会比较好，肯定是要对用户有一些要求，比如还加载之前的标签文件之类的

[2021-07-23 02:10] #10 closed

[2021-07-23 13:59] linhandev commented on #9
设成了有重名的时候所有标签都保留文件的后缀。当时反馈这个问题的那个人是标的爬的数据，就很多这种重的。保存的细节我写了一下[在这](https://github.com/PaddleCV-SIG/EISeg/wiki/%E6%A0%87%E7%AD%BE%E4%BF%9D%E5%AD%98)

[2021-07-23 16:05] #9 closed

[2021-07-24 14:03] linhandev commented on #11
coco save加了，可以看一下还有没有这问题

[2021-07-26 02:23] geoyee commented on #11
这个没问题了

[2021-07-26 02:23] #11 closed

[2021-07-26 02:26] geoyee opened #12 "直接打开图像报错"
直接打开一张没有标签的图像报错：
[code]

[2021-07-26 02:29] geoyee opened #13 "保留最大联通区问题"
1. 打开保留最大联通区后，不管选择哪个颜色的标签，交互点击对应的可视化mask都是第一个标签的蓝色。
2. 当存在孔洞无法闭合时，保留最大联通区报错：
[code]

[2021-07-26 02:59] linhandev opened #14 "单张coco"
打开一张图片保存coco标签

[2021-07-26 03:01] #14 closed

[2021-07-26 03:02] linhandev commented on #12
这个已知bug，应该是单张图片才有，今天回去加上

[2021-07-26 03:25] geoyee commented on #12
是的，单张才有，还是昨晚哪个。我以为说的这个也搞定了才提的(；￣д￣)，搞错了

[2021-07-26 05:03] linhandev commented on #12
文件夹应该没这个问题

[2021-07-26 05:34] geoyee commented on #12
文件夹没这个问题

[2021-07-26 12:56] linhandev commented on #12
修了一下，应该是可以了

[2021-07-27 01:51] geoyee commented on #12
可以打开了

[2021-07-27 01:51] #12 closed

[2021-07-27 08:46] linhandev opened #15 "快捷键编辑窗口弹出位置问题"
按下e之后弹出来的这个窗口一直不在屏幕中间，能不能研究一下让他居中

[2021-07-27 09:40] geoyee commented on #15
了解

[2021-07-27 09:54] geoyee commented on #15
看看现在居中了吗，平板上感觉不是很清楚

[2021-07-27 11:01] linhandev commented on #15
差不多，比之前好多了，晚上让莹姐看一眼

[2021-07-27 11:01] #15 closed

[2021-07-28 08:55] linhandev opened #16 "标签覆盖问题"
目前实现是按照标注顺序，后面的盖前面的，考虑要不要实现按照标签序号顺序，大号的盖小号，或者反过来

[2021-07-28 09:33] haoyuying opened #17 "多个孔洞的图片会保存失败"
![image](https://user-images.githubusercontent.com/35907364/127298702-9ac81e02-97eb-4620-bb94-d92c1096233e.png)

![image](https://user-images.githubusercontent.com/35907364/127299544-58eae355-22e1-4c7c-a982-da7383410359.png)

这张图b标红色的车厢把车窗抠出来的时候。

[2021-07-28 10:23] geoyee commented on #17
是的目前内部孔洞大于1个的时候这样连接会出现问题

[2021-07-30 03:49] geoyee opened #18 "正点过后的第一个负点无效"
点击正点可以正常的扩充mask，但目前版本点击的第一个负点对mask的起到的作用微乎其微，而点击第二个负点后第一个负点的作用才开始体现。可能是显示的问题。需要查明和修改

[2021-07-30 03:58] geoyee commented on #18
不是第一个负点无效，一开始点一个负点再点正点，这个负点时有作用的

[2021-07-30 03:59] geoyee commented on #18
是点击正点过后的第一个负点

[2021-07-30 05:35] geoyee commented on #18
np.max的问题，不清楚这个是哪儿来的。。现在已经可以了

[2021-07-30 05:35] #18 closed

[2021-07-30 05:43] geoyee commented on #16
要不给label的tabellist加一个拖动，可以拖动每个类别在list中的顺序，这样就可以按照这个tabellist的顺序来覆盖了

[2021-07-30 06:24] geoyee commented on #17
现在应该是不会报错了，虽然那个线看起来不太美观
![B2UWGZWRI@YQ96FD5TP$MEU](https://user-images.githubusercontent.com/71769312/127609933-4e16fa16-4936-4ea5-8759-68ba7080f73d.png)

[2021-07-30 06:42] geoyee commented on #13
第一个颜色的问题应该已经搞定了，第二个问题和那个多个孔洞报错的问题一样，如果那些是可以的，这个应该也不是问题了

[2021-07-30 07:55] geoyee commented on #16
韩兄现在拖动name那一列是可以交换两行的标签的位置。但是现在只有在没有完成的情况下图层的顺序会随着标签栏顺序改变而改变。现在想的在完成了全部对象后，拖动改变标签栏的顺序应该要可以实时改变多边形的叠加顺序。这里我还没看到在哪儿，韩兄有空可以搞一下看看这样的覆盖如何（大约在app.py 873行）

[2021-07-30 09:18] geoyee commented on #16
ok可以试试了，拖动tableitem（按住name那一格），最后从上往下覆盖

[2021-07-30 13:59] linhandev opened #19 "undo/redo 图标"
感觉undo/redo图标如果换成那种word里常见的，一个曲线，一个箭头，可能更直观一些

比如这种
![image](https://user-images.githubusercontent.com/29757093/127664067-d54d0cd2-0c76-4dee-8db2-e32c1a6bbfeb.png)

[2021-07-31 02:46] geoyee commented on #19
ok了

[2021-07-31 02:46] #19 closed

[2021-08-10 08:05] CN-Anan opened #22 "使用过程中，GPU显存占用会越来越大。"
使用过程中，GPU显存占用会越来越大。

[2021-08-10 11:24] geoyee commented on #22
了解，针对这个问题将进行检查和优化

[2021-08-10 11:24] geoyee commented on #22
了解，针对这个问题将进行检查和优化

[2021-08-10 14:33] #13 closed

[2021-08-10 14:34] geoyee commented on #17
考虑中间的线不连接

[2021-08-10 14:34] #16 closed

[2021-08-10 14:35] geoyee opened #23 "保存最大连通区域无效"
如题，现在的版本忽然无效

[2021-08-10 15:01] #23 closed

[2021-08-10 15:02] geoyee opened #24 "关于COCO保存"
每次切换COCO保存必须要清理一遍标签列表吗？ @linhandev

[2021-08-12 01:01] ZHANGZHANG407 opened #25 "EISEG的菜单栏功能"
![图片](https://user-images.githubusercontent.com/88808381/129122301-9ee155eb-e0a7-4d51-91bc-af09e78aa49c.png)
之前通过pycharm运行eiseg时菜单栏有许多功能，比如选择是否适用于遥感图像，但是现在打开eiseg时菜单栏只剩下文件和标注这两个功能，请问如何运行回到原来的状态？

[2021-08-12 04:39] geoyee commented on #25
试试重新clone看看，看这个界面应该是paddleseg下的EISeg

[2021-08-12 04:40] geoyee commented on #25
试试重新clone看看，看这个界面应该是paddleseg下的EISeg

[2021-08-17 00:27] linhandev commented on #24
checking

[2021-08-17 00:28] linhandev commented on #25
paddleseg下面的eiseg是一个稳定的旧版本，这个repo是最新的开发版，功能会有一些差异

[2021-08-17 00:33] linhandev commented on #24
目前应该是从coco读进来的时候会清空一下标签列表，打开两次同一个coco的情况如果不清会有两遍一样的标签

[2021-08-18 16:25] linhandev commented on #17
working on this

[2021-08-19 03:27] geoyee opened #26 "删除多边形偶见闪退"
如题，闪退没有任何报错，这个问题偶见，不知道如何触发的。需要进一步收集关于这个问题的信息。

[2021-08-19 03:38] geoyee opened #27 "Ubuntu18.04保存和切换保存"
段错误（核心已转存）
需要采集更多错误信息。

[2021-08-19 03:40] geoyee commented on #22
这个目前应该就是这样了。他只有在关闭后才会释放。我试了试应该影响不大，后面再看看有没有更好的解决办法。

[2021-08-20 02:38] ZHANGZHANG407 opened #28 "模型下载"
请问可以下载HRNet18_OCR64模型吗（后缀名为,pdmodel格式）

[2021-08-20 03:55] linhandev commented on #28
应该是可以的啊，在这 https://github.com/PaddleCV-SIG/EISeg#%E6%A8%A1%E5%9E%8B%E5%87%86%E5%A4%87

[2021-08-20 03:57] linhandev commented on #28
模型是在代码里创建的🤔，我们提供权重的下载
https://github.com/PaddleCV-SIG/EISeg#%E6%A8%A1%E5%9E%8B%E5%87%86%E5%A4%87

[2021-08-22 10:44] geoyee opened #30 "边缘重合问题"
标注时有时希望是无缝的，是否需要链接边界重合，如何做较好？
![image](https://user-images.githubusercontent.com/71769312/130352275-743701b3-d9e2-4916-bce4-42aa8f75c7b3.png)

[2021-08-24 09:14] geoyee opened #31 "修改了多边形点位置，切换下一张图自动保存无效"
如题，只修改点的位置，切换下一张图再切换回来点还原，没有保存（开启自动保存不识别点移动）

[2021-08-25 01:50] geoexploring commented on #28
@linhandev , `.pdmodel`可以通过：
[code]
将`hrnet18_ocr64_cocolvis.pdparams`转为`.pdmodel`文件吗？

如果可以，`HRNet18_OCR64.yml `文件在哪里？

谢谢！

[2021-08-25 01:52] linhandev commented on #28
我们这个模型不是paddleseg里的，应该不能用paddleseg的脚本转存🤔

[2021-08-25 01:57] geoexploring commented on #28
@linhandev，请问该采取何种方式转`.pdmodel`呢？或者说，其实EISeg就能自己转`.pdmodel`？

谢谢！

[2021-08-25 02:00] linhandev commented on #28
这块我也不是很清楚，我们没有转pdmodel的代码，但是我们的模型代码在eiseg里是有的，主要pdmodel应该可以创建模型之后保存🤔

[2021-08-25 02:05] geoexploring commented on #28
@linhandev ，感谢！我再看看EISeg的代码。

[2021-08-25 02:18] linhandev commented on #28
看看models.py 和model文件夹

[2021-08-30 10:02] 2597miles opened #35 "如何创建模型网络，加载权重，实现推理？"
看不懂paddle的源码。。。。想不使用交互界面在做推理，不知道怎么弄？

[2021-08-30 11:36] geoyee commented on #35
可以看看controller.py，点和图像进去推理基本都在这里。加载模型参数什么的可以参考app.py，`changeParam`里面有如何在controller中加载参数

[2021-08-30 17:26] livingbody opened #36 "win下安装报错"
[code]

[2021-08-31 00:29] 2597miles commented on #35
好的，感谢

[2021-08-31 02:59] 2597miles commented on #35
"""初始化控制器.

        Parameters
        ----------
        predictor_params : dict
            推理器配置

请问predictor_params怎么设置？

[2021-08-31 07:07] geoyee commented on #35
在app.py查找InteractiveController吧，这里面给了现在的参数。具体有些什么可以在inference下面的predictor里面找。建议可以先按照app.py里面的设置

[2021-08-31 14:32] geoyee commented on #36
收到，感谢提交，正在检查，暂时没收到这相关问题的反馈

[2021-09-01 06:59] geoyee opened #37 "背景颜色可以设置为透明色"
如题

[2021-09-02 15:48] #37 closed

[2021-09-02 15:49] #25 closed

[2021-09-03 03:58] geoyee commented on #36
@livingbody 请尝试升级PYQT5到5.13以上试试，这可能会解决这个问题

[2021-09-04 06:15] fh1999 opened #38 "为什么模型训练用两个优化器"
optimizer1 = opt(learning_rate=lr(float(cfg.get('learning_rate').get('value_1')),
        decay_steps=cfg.get('learning_rate').get('decay').get('steps'),
        end_lr=cfg.get('learning_rate').get('decay').get('end_lr'),
        power=cfg.get('learning_rate').get('decay').get('power')),
        parameters=other_params)
    optimizer2 = opt(learning_rate=lr(float(cfg.get('learning_rate').get('valu

[2021-09-07 07:11] #24 closed

[2021-09-11 12:37] geoyee opened #39 "新的角点简化方法可能会将关键拐点简化掉"
如题

[2021-09-13 00:22] linhandev opened #40 "可视化半径默认大小按照图像大小进行适当调整"
在很大的图像中最大的半径点也看着比较小

[2021-09-13 07:33] geoyee commented on #39
修改了一点，现在可以先测试看具体效果

[2021-09-13 22:38] linhandev opened #41 "模型加载完成的提示没了"
如题

[2021-09-13 22:42] linhandev opened #42 "自动加载标签列表貌似有问题"
如题

[2021-09-13 22:43] linhandev commented on #42
啊这块应该是改了

[2021-09-13 22:43] #42 closed

[2021-09-14 01:55] geoyee commented on #41
现在加载参数后应该会显示了，可以试试

[2021-09-14 06:04] geoyee commented on #40
韩兄可以试试现在的，就是ctrl释放的时候（就是缩放否）会调整点的大小。不过现在如果图很大的话，缩放后会“卡”一下

[2021-09-15 12:29] linhandev opened #43 "添加自动联网下载模型功能"
选择模型，选择权重类型，自动下载

[2021-09-16 00:40] geoyee opened #44 "处理大图接边处的mask"

[2021-09-16 00:40] geoyee opened #45 "整理grid代码为单独的一个类"

[2021-09-16 03:30] geoyee opened #46 "生成polygon后要不要可以更改标签"
【讨论】

[2021-09-16 14:23] #44 closed

[2021-09-17 03:38] #45 closed

[2021-09-17 03:38] geoyee opened #47 "添加log功能，如果使用有问题方便追踪问题"

[2021-09-17 03:39] geoyee commented on #26
目前较长时间没发现这个问题了

[2021-09-18 07:18] bio-punk opened #48 "Could give *.ui file to update GUI?"
For example, There is no *.ui file to update GUI design in "/contrib/EIseg/*", So I cannot add a button in this program.Thank you very much!

各位大牛们，能不能提供一下EIseg的UI文件啊，想往上加个按钮，求求了，谢谢大家！

[2021-09-22 06:12] oym1994 opened #49 "Segmentation fault when running"
Hi,
when I try this great label tool, I encounted ​such error and the Error Message Summary is as below:

Error Message Summary:
----------------------
FatalError: `Segmentation fault` is detected by the operating system.
 ​[TimeInfo: *** Aborted at 1632232668 (unix time) try "date -d @1632232668" if you are using GNU date ***]
 ​[SignalInfo: *** SIGSEGV (@0x12) received by PID 7565 (TID 0x7f81cf5

[2021-09-23 11:05] geoyee commented on #48
都在里面，有个ui.py，里面是基本的界面，然后工具栏菜单栏等等的在app.py动态添加的。相关的创建方法可以通过搜索找到。

[2021-09-23 11:48] geoyee commented on #49
Im sorry I dont know this problem, but I found some methods, maybe u can try:
1. [check yours cudnn](https://blog.csdn.net/mtl1994/article/details/117806922)
2. [install nomkl](https://github.com/paddlepaddle/paddleocr/issues/1029)
3. check opencv-python or other packages version

If this dont work, try to debug like [this](https://mp.weixin.qq.com/s/na1Wk3hZii-792IFprkV5Q). We will also pay atten

[2021-09-25 09:34] geoyee opened #50 "大图加载问题"
超大的图打开直接切分宫格，不预先加载，造成未响应时间过长

[2021-09-25 09:36] geoyee commented on #50
1. 或者显示一个压缩图像，提示开启宫格
2. 或者直接开启宫格

[2021-09-26 08:40] GY0913 opened #51 "如何标注相邻的两个物体"
比如上衣和裤子，标注出上衣后标裤子的时候上衣区域不能再标为负样本点，裤子的整体轮廓会包含上衣点集

[2021-09-27 02:54] geoyee commented on #50
已经显示了压缩图像，引导开启宫格。但是加载假死状态的进度条还没搞定

[2021-09-27 02:55] geoyee commented on #51
空格可以改变标注状态，当标注完上衣后空格生成多边形，此时内部是有颜色的，再次使用空格内部就会变成透明的，此时标注裤子时就可以在上衣的区域添加负点了

[2021-09-27 02:56] geoyee opened #52 "宫格标签问题"
目前仅能单个标签，若切换的话都会发生改变

[2021-09-27 12:28] geoyee opened #53 "多边形可选择问题"
能否设置一键开启或关闭多边形标注，或者能够对单独的mask进行多边形化

[2021-09-27 13:04] zhijiejia opened #54 "模型输入point的组织形式"
请问作者，对于模型前向传播时，输入的point参数的各个维度代表的含义可以稍微解释下吗？

比如，我点了一个点，输入的point的形状是：(2, 2, 3) , 我现在知道了 最后一个维度中包含的是 (y, x, index), 也知道 第二个维度的值是 正样本点的数量的2倍，但是我没看懂为啥第二个维度的值要是2，另外一部分存的是啥啊？（看结果，y值没变，x值变化）
第一维，嘿嘿也没看懂？ 为啥是2，这里的含义是什么呢？

感谢您的精彩工作！

[2021-09-27 13:44] zhijiejia commented on #54
对了 point 里面还有不少的 -1，在这里 -1 代表的是啥意思啊？

[2021-09-28 13:02] geoyee commented on #54
1. 是这样的，第三维的3是对应的(y, x, index)对的，第二维的2为什么是正点的两倍呢？因为这是为了区分正负点，当点一个正点，后面就会有一个(-1, -1, -1)为负点占位；当点一个负点，前面就会有一个(-1, -1, -1)为正点占位。这样在最后只需要`len/2`，前面一半就是正点，后面一半就是负点。

2. 关于第一维为什么是2，可以看到这一段代码
![image](https://user-images.githubusercontent.com/71769312/135091155-2d457d83-2f6f-46c4-a3e5-835ef0d6ecc7.png)
其中有个翻转默认是True，打开的话就有点像测试时增强那样，计算量会变为两倍，所以你发现了y没变，x实际上是翻转了。设置为False的话，点击一个点得到的point维度就是(1, 2, 3)了。

[2021-09-28 13:05] geoyee commented on #38
两个优化器是因为backbone和head在最开始训练的时候是不同的learning rate，所以learning rate的更新是不一样的，需要两个来更新

[2021-09-28 14:26] YDDDDG opened #55 "有关有遮挡物体被划分为多个bbox的问题。"
作者您好，感谢您精彩的工作！

我在使用过程中发现，如果“待标注的物体”被其他“前景物体”从中间遮挡，而被分为两部分时，此时对“待标注的物体”进行标注时，会生成多个bbox，在json中也是被认为成“两个物体”而不是同一个物体，请问这个问题有办法解决吗？

期待您的回复！

[2021-09-28 21:26] linhandev commented on #55
感谢您的反馈！

coco保存格式中每个多边形都会有一个唯一的id，如果是做实例的标注应该会有影响。

这个问题我们之前没有注意到。不知道你这个标注之后具体是想做什么类型的任务，有没有其他软件针对这方面有解决方法我们可以参考一下

[2021-09-29 07:15] zhijiejia commented on #54
哦哦 谢谢解答，我还有一个问题，那就是 当利用 mask 产生 边界点时，就是找白色区域(255)的边界点，那么如果一个白色区域是两个同心圆的形状，内部圆的中心是黑色，两个圆之间是白色，那么得到的点是在一个list里面，那么怎么区分哪些点是外部圆上的点，哪些点是内部圆上的点呢？

[2021-09-29 09:20] YDDDDG commented on #55
您好！
主要想做的任务是实例分割的标注，“每个多边形都会有一个唯一的id” 确实对实例的辨别产生了一定的影响。
不过很可惜，我们暂时还未调研到有相关的软件可以解决这个问题。

[2021-09-29 21:02] linhandev commented on #55
估计这块怎么做我们需要讨论一下，最近每天push都很多，时间的话得到时候看fix的复杂程度

[2021-09-30 01:22] geoyee commented on #54
感谢关注。这个边界找点是根据`cv2.findContours()`来获取的，其中模式设置为`cv2.RETR_TREE` 就可以建立一个等级树结构的轮廓。每个轮廓有对应的内外轮廓的信息，根据这些信息就可以知道内外轮廓的点。

[2021-10-08 14:13] tspp520 opened #56 "是否提供高精度模型的训练代码？"
看了eiseg的readme，以及所有issues，好像在25天前作者提到会近期开源相关训练代码，
但readme上还是没有见到相关代码。
目前想基于工业界的某一细分领域的数据集训练一个模型去做 后续数据集的标注，以提高标注质量和速度，
是否提供 hrnet18_ocr64_cocolvis 这个高精度模型的训练代码？谢谢！

[2021-10-09 02:23] geoyee commented on #56
感谢支持，不好意思，训练部分的话还需要一段时间。

[2021-10-09 10:59] #56 closed, assigned to nobody

[2021-10-09 11:01] tspp520 opened #57 "如何加入你们的SIG？"
想参与EISEG开源这项伟大的工作，请问怎么加入?

[2021-10-10 20:02] linhandev commented on #57
可以加我微信，linhandev

[2021-10-11 01:56] zhijiejia commented on #54
作者 您好，我看代码又有个问题想问下，请问放置了所有model的MODELS这个list变量是啥时候，在哪加载的啊, 我尝试调用eiseg 第三方包的API，先创建一个controller, 在对controller 进行setmodel() 但是提示MODELS是None, 看了几圈也没看到MODELS是在哪调用加载的...

[2021-10-11 01:59] zhijiejia commented on #54
对了，在 `eiseg/inference/predictor/base.py` 的108行，这句话是不是 少写了一个参数，或者这句话就没啥用

[2021-10-11 08:51] geoyee commented on #54
您好，MODELS在`manager.py`里面

[2021-10-11 08:54] geoyee commented on #54
不好意思，是现在的commits的这个位置吗，还是之前的。我现在看到的是`num_max_points = max(num_pos_clicks + num_neg_clicks)`

[2021-10-11 13:23] zhijiejia commented on #54
对就是这句话，我是问下 max() 函数只传递一个参数吗？

[2021-10-11 13:25] zhijiejia commented on #54
哦哦，是我的问题，我把`num_pos_clicks + num_neg_clicks` 想成是一个实数了。。。

[2021-10-23 09:30] chenglong-do opened #58 "eiseg COCO 格式用于 paddlex、PaddleDetection 训练报错"
**bug描述**
使用 EISEG 标注后保存为 COCO 格式，用于paddlex、PaddleDetection 训练时会报错，请问是需要特别转换么？

[code]

**运行环境（请尽量填写，这可以帮助我们定位问题）：**
 - 系统： Linux
 - 安装方式：pip
 - 软件版本：0.3.0.2

[2021-10-24 14:20] geoyee commented on #58
@linhandev 韩哥空了看看呢

[2021-10-27 04:46] liuyijian opened #59 "pycocotools无法读取生成的coco格式标注文件"
**bug描述**
eiseg2coco.py 生成coco格式标注文件时，没有进行iscrowd字段的生成，导致pycocotools读取错误

**截屏**
 File "/home/lisiyu/anaconda3/lib/python3.8/site-packages/pycocotools/cocoeval.py", line 188, in <listcomp>
    iscrowd = [int(o['iscrowd']) for o in gt]

[2021-10-28 00:58] #57 closed, assigned to nobody

[2021-10-28 18:12] linhandev commented on #30
感觉不太好搞，我能想到两种实现方式
1. 反选：标好一部分，直接反选另一部分
2. 靠近的点自动吸附：生成多边形的时候检测新点周围是否有之前的点，如果有就把这两个点合并，polygon那块也需要改

[2021-10-28 20:09] linhandev commented on #31
是有这个问题，动了点之后没有设dirty，正在解决

[2021-10-28 20:13] linhandev commented on #47
已经添加，会逐步在关键位置加log

[2021-10-28 20:14] linhandev commented on #46
感觉可以加，如果标了一通发现类型弄错了得重新来也是挺难顶。但是感觉这个情况应该不会很多🤔
@yzl19940819

[2021-10-28 20:17] linhandev commented on #53
可以搞一个toggle，标注完成自动转多边形。
单个mask转可能可以考虑在mask上右键？

[2021-10-28 20:19] linhandev commented on #58
正在检查这个

[2021-10-28 20:19] linhandev commented on #59
收到，我们这边尝试一下

[2021-10-29 01:15] linhandev commented on #59
您好，我这边试了一下，eiseg2coco.py 这个脚本生成的coco标签应该是有iscrowd字段的，不知道您这边是因为什么遇到了这个问题。
可能可以尝试重新拉一下最新版的代码试一下。如果问题继续复现您这方便的话希望能提供一个简单的能复现问题的数据集。我这边用自己找的数据尝试没发现有问题。

[2021-10-29 03:40] linhandev commented on #58
您好，请问是直接用的PaddleDetection还是用的PaddleX中的目标检测api？ @chenglong-do

[2021-10-29 05:18] chenglong-do commented on #58
您好！两种都有试过，都会报错

[2021-10-29 20:58] linhandev commented on #58
收到，之前检测做的少，debug这个可能要点时间

[2021-11-01 23:13] linhandev commented on #58
你好，我这边尝试了一下用标注的数据进行paddlex detection的训练，数据读取是正常的。最近我们对coco格式的保存进行了一些完善，建议您这边重新pull代码尝试一下，如果问题还存在的话建议您做一个可以在最新版eiseg上复现这一问题的样例数据集我们定位一下具体的问题在哪。 @chenglong-do

[2021-11-02 01:45] xmyyzy123 opened #62 "软件闪退"
**bug描述**
标注完成以后，关闭软件。再打开软件修改标注， 保存， 切换下一张的时候，软件会闪退

**运行环境（请尽量填写，这可以帮助我们定位问题）：**
 - 系统：Windows
 - 安装方式：克隆代码和Windows exe
 - 软件版本：0.3.0.1和0.3.0.4

[2021-11-02 13:43] linhandev commented on #62
您好，可不可以做一个简单的可以复现这个问题的样例数据集。我这边按照描述进行了操作没发现问题🤔@xmyyzy123

[2021-11-02 14:44] xmyyzy123 commented on #62
标注完成以后，关闭软件。再打开软件(**放大图像**)修改标注， 保存， 切换下一张的时候，软件会闪退 @linhandev 不好意思，是放大图像以后再修改标注

[2021-11-02 14:48] xmyyzy123 commented on #62
![屏幕截图 2021-11-02 224731](https://user-images.githubusercontent.com/20349084/139870595-e4f01c0e-6070-4820-890f-916c8b2316c5.png)

[2021-11-02 14:52] linhandev commented on #62
收到，我应该看到这个问题了，稍等一会

[2021-11-02 14:54] linhandev commented on #62
应该是解决了，可以pull一下看看

[2021-11-02 15:04] xmyyzy123 commented on #62
![屏幕截图 2021-11-02 230400](https://user-images.githubusercontent.com/20349084/139873552-796d49d9-4cfa-4e5e-94ee-d1f973394343.png)

[2021-11-02 15:05] xmyyzy123 commented on #62
@linhandev 日志好像有问题

[2021-11-02 15:11] linhandev commented on #62
欧，那是个昨天新加的功能，我看看

[2021-11-02 15:13] linhandev commented on #62
拉一下看看，刚试着弄了一下，我这是linux没报出你那个错

[2021-11-02 15:18] xmyyzy123 commented on #62
大佬，还是这个错误。上个版本就有这个问题，不过上个版本我把log注释了。

[2021-11-02 15:21] linhandev commented on #62
奇怪，等我装个win虚拟机试试吧，你可以再拉一下试试，我把normcase换了个地方，要是还不行就先注掉吧。在app和ui里也有logging，可能需要一起搞掉

[2021-11-02 15:32] xmyyzy123 commented on #62
还是不行😂，我先注释掉吧

[2021-11-02 15:50] xmyyzy123 commented on #62
@linhandev  大佬，闪退的问题依然存在，还是一样的错

[2021-11-02 15:56] linhandev commented on #62
我丢，要不加个微信我们试试远程一下？

[2021-11-02 15:56] linhandev commented on #62
linhandev

[2021-11-02 16:30] xmyyzy123 commented on #62
已经加了

[2021-11-05 16:24] linhandev opened #63 "gdal依赖"
https://github.com/PaddleCV-SIG/EISeg/blob/e3df28ba01d7cac9de486cfbf5d7be6b841c0212/eiseg/plugin/remotesensing/shape.py#L7
这块如果环境里没有osgeo和gdal就会报错

[2021-11-06 06:09] #63 closed, assigned to nobody

[2021-11-06 14:14] geoyee opened #64 "release/0.4.0 当前存在的部分BUG"
## [SELF]
- [x] 切换模型参数后，必须切换图像才能换过来
- [x] 多边形有孔洞可能越界
- [x] 偶见打开后界面混乱，同时加载最近模型也错乱（目前猜测是调试崩溃后打乱了setting的保存）
- [x] #67
- [x] #66
- [x] 单独打开多张图片，快捷键S和F切换的第一次有问题
- [x] 宫格完成后mask和polygon有偏移
- [x] 宫格模式下某些shp保存无法在arcgis中显示（投影问题需要解决）
- [x] 宫格模式多标签问题（全部导出为一个标签了）
- [ ] #70
- [ ] #68
- [x] 增加显示图像的地理信息
- [x] 打开图像报错（存在.xxx.jpg类似格式的文件）
- [x] GPU/TensorRT加载问题（框架版本问题）
- [x] 保留最大联通块推理，生成的多边形仍包含所有块
- [x] 多次关闭和选择图像后，

[2021-11-06 14:15] geoyee opened #65 "切换模型参数后，必须切换图像才能换过来"

[2021-11-06 14:27] #65 closed, assigned to nobody

[2021-11-06 17:49] linhandev opened #66 "加载最近模型貌似不对，没有加载最近那次 @linhandev"

[2021-11-06 17:51] linhandev commented on #66
删掉原来的config跑一下试试

[2021-11-06 17:51] linhandev commented on #64
加载最近模型貌似不对，没有加载最近那次 @linhandev
删掉原来的config重新跑一下试试

[2021-11-07 01:40] geoyee commented on #64
OK是的，那这个没问题了

[2021-11-07 02:58] geoyee opened #67 "偶见闪退（目前遇到的情况是删除带有多个孔的多边形）"

[2021-11-07 02:59] geoyee commented on #67
目前这个情况貌似解决了，在修改了polygon部分后，近几次测试没发现了，目测可能是polygon那儿有点问题导致的闪退，先保留进一步观察。

[2021-11-07 07:17] geoyee opened #68 "【增强】shp导出多边形直接添加孔（而不是使用重叠线连接）"

[2021-11-07 07:19] geoyee commented on #68
直接使用wkt结构进行挖洞，不需要连接起来，有内孔和外圈的分别表示

[2021-11-08 08:26] geoyee opened #70 "【优化】加载模型假死（添加多线程加载）"

[2021-11-08 08:26] geoyee commented on #70
多线程加载不起作用，暂未发现问题在哪儿

[2021-11-09 02:19] geoyee opened #71 "遥感切换模型闪退"

[2021-11-09 02:19] geoyee commented on #71
![ffc168ca5fb34cd292d365efb1be1d3](https://user-images.githubusercontent.com/71769312/140849775-fc559418-0d9e-4a2e-9e64-f584a4c48253.jpg)

[2021-11-10 01:20] #67 closed, assigned to nobody

[2021-11-10 01:26] linhandev commented on #64
【讨论】导出图像名的大小写与原始图像名不一致（Linux大小写敏感会不会在训练时匹配不上文件 @linhandev）

会，导出的名字怎么不一致的🤔不记得有改过大小写啊

[2021-11-10 01:34] geoyee commented on #66
目前加载没有加载过的模型参数没问题，但是如果加载近期参数中存在的参数，现在自动读取最近的就会出现偏差（近期参数列表没有把列表中有的移动到前面来）

[2021-11-10 01:46] geoyee commented on #66
现在应该可以了，如果参数在其中了，就提到最前面来

[2021-11-10 01:46] #66 closed, assigned to nobody

[2021-11-10 01:50] geoyee commented on #64
在win下面，osp.normcase会把所有的路径转成小写和规范的斜杠，但是win不区分大小写，不知道在linux下面这个osp.normcase是会转换还是保持原样

[2021-11-10 02:01] linhandev commented on #64
linux下不变，大写还是大写的

[2021-11-10 02:04] geoyee commented on #64
那应该可以不管这个了

[2021-11-11 04:01] geoyee commented on #71
GDAL安装问题

[2021-11-11 04:01] #71 closed, assigned to nobody

[2021-11-11 06:14] geoyee opened #74 "win/cpu/高精度人像模型/在图片数据列表中跳转时异常退出"

[2021-11-11 06:15] geoyee opened #75 "win/cpu/遥感/py36/gdal=3.14/异常退出"

[2021-11-11 06:15] geoyee opened #76 "点击目标的时候异常退出"

[2021-11-11 06:15] geoyee commented on #74
![image](https://user-images.githubusercontent.com/71769312/141247565-573ca957-c4d4-4d34-8519-25ab7e14f7fb.png)

[2021-11-11 06:16] geoyee commented on #75
![image](https://user-images.githubusercontent.com/71769312/141247597-6440ca3d-97ed-4c40-9192-b6f9ef41bbef.png)

[2021-11-11 06:17] geoyee commented on #76
![image](https://user-images.githubusercontent.com/71769312/141247673-49090680-ef56-405a-a264-6c59f9d4c4cb.png)

[2021-11-11 06:22] geoyee opened #77 "宫格保存的时候会有这个闪退"

[2021-11-11 06:23] geoyee commented on #77
![image](https://user-images.githubusercontent.com/71769312/141248312-715906ac-590f-40c0-be2d-aad2e28f30c5.png)

[2021-11-11 13:32] geoyee opened #78 "遥感图像的分宫格标注完，点击下一张会hang死，就直接退出"

[2021-11-11 13:33] geoyee commented on #78
![image](https://user-images.githubusercontent.com/71769312/141306855-c26de8bb-f40a-4c6d-aab3-e4a928bee03d.png)

[2021-11-11 13:36] geoyee opened #79 "【优化】空格切换状态后将点和线的激活也冻结"

[2021-11-11 13:37] geoyee commented on #79
- 在遥感特别明显，就是生成了一个mask的polygon之后，我再去点另外的点，不小心带上了之前的polygon区域，这个地方是没办法点击的
- 可以改一下空格切换以后，把点和线的激活也冻结

[2021-11-11 14:22] geoyee commented on #74
问题：加载了标注好的数据之后，如果删除了标签，切换图像就会找不到

[2021-11-11 15:32] geoyee commented on #74
当标签查找不到就不绘制多边形，当添加了标签时，就可绘制

[2021-11-11 15:32] #74 closed, assigned to nobody

[2021-11-12 01:09] geoyee commented on #79
nice

[2021-11-12 01:09] #79 closed, assigned to linhandev

[2021-11-12 06:43] #78 closed, assigned to nobody

[2021-11-12 13:34] geoyee opened #80 "完成宫格后快捷键不可以切换下一张"

[2021-11-12 13:34] geoyee opened #81 "强制不使用宫格保存的shp和tif也是缩略图状态"

[2021-11-12 13:34] #80 closed, assigned to nobody

[2021-11-12 13:34] geoyee commented on #81
现在会在保存时拉伸到原来的大小

[2021-11-12 13:34] #81 closed, assigned to nobody

[2021-11-12 13:35] #51 closed

[2021-11-12 13:35] #48 closed

[2021-11-12 13:35] #41 closed

[2021-11-12 13:36] #17 closed

[2021-11-12 13:36] #26 closed

[2021-11-12 13:36] #39 closed

[2021-11-12 13:36] #40 closed

[2021-11-12 13:36] #50 closed

[2021-11-12 13:37] #52 closed

[2021-11-12 13:37] geoyee commented on #52
解决

[2021-11-12 13:37] #22 closed

[2021-11-12 13:38] #27 closed

[2021-11-15 05:27] geoyee opened #82 "增加合并json为coco格式"
https://github.com/PaddlePaddle/PaddleSeg/issues/1534

[2021-11-15 08:26] linhandev commented on #82
我们做这个吗，那个json原来是想做个临时的格式，以后想弄掉来着。他说的一个图像一个文件 pascal voc 是这个格式的，但是我看好像voc只有检测没有分割，如果voc能做分割可以加个voc。咱们自己维护一个格式感觉比较麻烦

[2021-11-15 11:34] geoyee commented on #82
要不韩哥去回复一下看他怎么想的。他只说对应起来好管理，就是上面那个链接

[2021-11-16 14:54] linhandev commented on #82
好，我去问问。
我个人倾向下个版本drop掉我们的json功能，这个版本发版的时候默认关闭，打开的话弹一个warning告诉用户这个功能要drop了
🤔

[2021-11-16 15:05] linhandev opened #83 "研究一下数据版本"
https://www.google.com/amp/s/neptune.ai/blog/best-data-version-control-tools/amp
近期想研究一下数据版本工具，看看能不能加进来，可以给以后更好的协同铺垫一下

[2021-11-17 06:42] somTian opened #84 "win 软件包加载模型参数寻找的是.pdparams文件"
**bug描述**
win 软件包加载模型参数寻找的是.pdparams文件
而下载的模型文件后缀为.pdiparams
选中不了

**复现方法**
从这里下载的最新EISeg。解压后双击启动程序.exe即可运行程序。
选择加载模型寻找的是.pdparams文件

**截屏**
![image](https://user-images.githubusercontent.com/19942099/142147918-9a9756cb-039c-4fd2-94dc-4defe2f8c6cb.png)

**运行环境（请尽量填写，这可以帮助我们定位问题）：**
 - 系统：Windows
 - 安装方式：Windows exe
 - 软件版本：EISeg0.3.0.1

[2021-11-17 06:45] busbyjrj commented on #84
+1，将.pdiparams重命名为pdparams后，直接崩溃了

[2021-11-17 08:03] geoyee commented on #84
@somTian @busbyjrj
在0.3.0中模型是使用的动态图，现在0.4.0版本已经全部改成静态图了，所以配合下载的模型都是静态的模型和参数。
抱歉现在README没有更新，后续可能也不准备维护exe的了，建议配置好环境使用。

[2021-11-17 08:17] geoyee commented on #77
暂时未见，发现后再开启

[2021-11-17 08:17] #77 closed, assigned to nobody

[2021-11-17 08:17] geoyee commented on #76
暂时未见，发现后再开启

[2021-11-17 08:17] #76 closed, assigned to nobody

[2021-11-17 08:17] geoyee commented on #75
暂时未见，发现后再开启

[2021-11-17 08:17] #75 closed, assigned to nobody

[2021-11-17 16:48] crepuscularlight opened #85 "coco annotations.json bbox"
**bug描述**
The bounding boxs in the annotations.json are always 0.

bbox:[0,0,0,0]

[2021-11-18 02:46] linhandev commented on #85
已经修复

[2021-11-18 22:43] #85 closed, assigned to nobody

[2021-11-19 20:57] linhandev opened #87 "巨大的图像分块读取"
有说读1g以上遥感的，除了推理要分块，读取可能也需要分块

[2021-11-19 21:00] linhandev commented on #82
我们的json会升级成labelme json，json格式只允许用一种，增加一个标签管理中心展示冲突🤔

[2021-11-20 01:44] geoyee commented on #87
收到，我研究下rasterio看看，貌似可以实现这个功能

[2021-11-20 16:06] geoyee commented on #87
目前已经基本可以完成分块读取了，不会全部加载到内存再分块。这个部分我放在rasterio这个分支下面，因为很多部分重新改了，还有些问题等做完了没问题了再merge过来。目前还有的问题（留待22号解决）：
- [x] 切换图像和切换宫格的问题
- [x] 宫格完成后的清理问题
- [x] shp的保存问题

[2021-11-21 07:09] geoyee commented on #83
打不开这个。。。难受

[2021-11-21 14:57] geoyee opened #88 "tool"
韩哥 @linhandev ， tool下面的脚本换一种方式吗？这个写的[说明](https://github.com/PaddleCV-SIG/EISeg/blob/develop/docs/tools.md)还要吗？之前有人提需要转格式到paddlex的

[2021-11-21 20:11] linhandev commented on #88
删掉的脚本不是干那个事的，到paddlex我们不需要转换吧，pdx不是能读coco。之前那个脚本就做了个数据集划分，那个pdx也能做

[2021-11-22 02:46] geoyee commented on #88
了解，不过有一个是分jpg/png那个的（其实也就是重新移动了下位置和新建文件），不是coco的，这个也不用了哇，那我就把说明里面的这个删了
![](https://user-images.githubusercontent.com/71769312/141392744-f1a27774-2714-43a2-8808-2fc14a5a6b5a.png)

[2021-11-22 15:53] linhandev commented on #88
我记得当时看是一个没啥用，一个的功能pdx也能做来着

[2021-11-23 03:38] geoyee commented on #88
ok了解

[2021-11-23 03:38] #88 closed, assigned to nobody

[2021-11-24 02:28] geoyee opened #89 "医疗nii标注"
- [ ] 读取nii数据
- [ ] 滚轮切换切片
- [ ] 合并每个切片的标签为nii保存

[2021-12-01 11:53] geoyee opened #90 "带有多边形的图像缩放后loadImage闪退"
![image](https://user-images.githubusercontent.com/71769312/144229898-950502b1-90fd-4596-bd50-587a356fc799.png)

[2021-12-02 03:30] geoyee commented on #90
出现于在进行多边形修改或者删除多边形并重新点击出多边形后

[2021-12-02 08:23] ghost commented on #58
你好，我也遇到相同的问题，用的paddlepaddle solov2模型，自己添加了iscrowd后还是会有相同的错误。
macos paddle2.2 pip install eiseg （0.4）

[2021-12-04 06:06] ghost commented on #58
已经解决，之前版本bbox和area都没有导致的错误，dev版本生成的coco标注就没有问题了

[2021-12-06 08:48] ghost opened #91 "solov2 training problem"
![loss_ins](https://user-images.githubusercontent.com/38196678/144775901-5480f2c8-66e0-498a-9f6f-73f8046c4286.png)
环境：eiseg0.4, paddledet2.3
用的config/solov2/solov2_r50_enhance_coco.yml配置文件
修改 base_lr/8 with one gpu
1.loss_cate没有问题, loss_ins不下降，用labelme转coco训练没有问题，eiseg标注的coco训练就存在这个问题，对比了两者的json都差不多，不知道是什么问题；
2.“weight” 和“height”反了。

[2021-12-06 09:07] LouisDong1995 commented on #91
“weight” 和 “height”反了

[2021-12-06 09:27] geoyee commented on #91
了解，将会进行测试看看

[2021-12-06 11:54] wuqiangch opened #92 "0.4.0版本的EIseg采用宫格模式标记之后保存为json文件是空的"
**bug描述**
0.4.0版本的EIseg，因为图像太大（2000像素），采用宫格模式标记之后保存为json文件是空的，但是生成的pseudo.png是正确的，导致重新加载的标记的图像，没有了标记的轮廓信息了。

**运行环境（请尽量填写，这可以帮助我们定位问题）：**
 - 系统： [ Windows]
 - 安装方式：[pip]
 - 软件版本：[0.4.0]

[2021-12-06 12:45] geoyee commented on #92
是遥感图像吗，这一块可能还需要研究下

[2021-12-06 12:54] chenhongjin811 opened #93 "标注完一张图片保存后再点下一步，会闪退"
**bug描述**
请大致描述出错的现象，在什么情况下或操作过程中遇到，在上述条件下是否总是出现等。

**复现方法**
我们可以如何操作重现这个bug
如：
1. 启动软件
2. 点击....
3. 打开....
4. 出现问题 ....

**截屏**
如果条件允许可以添加针对问题的截屏，可以帮助我们理解问题。

**运行环境（请尽量填写，这可以帮助我们定位问题）：**
 - 系统： [e.g. Windows/Mac os/Linux]
 - 安装方式：[e.g. 克隆代码/pip/Windows exe]
 - 软件版本：[运行时显示在软件最上方]

[2021-12-06 13:06] geoyee commented on #93
收到，目前正在检查这个问题

[2021-12-07 03:28] geoyee commented on #93
请问是在普通的图像之间切换闪退了还是在遥感图像中的宫格之间切换闪退了

[2021-12-07 03:30] chenhongjin811 commented on #93
是在普通图像切换时闪退，感觉一般是ctrl+s后，如果很快切换到下一张就会出问题，0.4.0和0.3.1都有

[2021-12-07 03:31] chenhongjin811 commented on #93
是在普通图像切换时闪退，感觉一般是ctrl+s后，如果很快切换到下一张就会出问题，0.4.0和0.3.1都有

[2021-12-07 03:31] geoyee commented on #93
了解了，感谢，我再看看，闪退有什么报错吗

[2021-12-07 03:33] chenhongjin811 commented on #93
`hover in
0.9568775476985192 1.4353163215477789 413.0 72.0 404.0 88.0 9.0 -16.0 16.0 9.0 18.35755975068582
dir 0.8715755371245493 0.49026123963255896
hover in
0.9568775476985192 1.4353163215477789 386.0 88.0 396.0 70.0 -10.0 18.0 -18.0 -10.0 20.591260281974
dir -0.8741572761215377 -0.48564293117863205
hover in
0.9568775476985192 1.4353163215477789 404.0 88.0 394.0 104.0 10.0 -16.0 16.0 10.0 18.867

[2021-12-07 03:34] geoyee commented on #93
收到~

[2021-12-07 03:55] geoyee commented on #93
目前猜测在删除点后切换会闪退【 #90 同这个问题】

[2021-12-07 03:58] geoyee commented on #90
同 #93

[2021-12-07 03:59] #84 closed, assigned to nobody

[2021-12-07 04:00] #87 closed, assigned to geoyee

[2021-12-07 04:50] chenhongjin811 commented on #93
那可以如何解决吗？现在标注不到20张就会闪退一次，有点头疼了

[2021-12-07 04:57] geoyee commented on #93
今天努努力 😢

[2021-12-07 05:10] geoyee commented on #93
目前确定是缩放后引起的

[2021-12-07 05:26] geoyee commented on #90
目前对问题的复现在于：缩放（主要是放大）图像进行点的编辑（移动/删除）然后缩放回接近原大小，之后切换图像基本会崩

[2021-12-07 05:35] geoyee commented on #90
进一步确认问题：当图像存在多边形，放大图像出现边界框滑块后，缩小图像至边界框滑块消失，此时切换崩溃

[2021-12-07 05:39] geoyee commented on #90
不止如此，缩小放大，以及不出现滑块依旧可能崩溃，崩溃分两种情况，一种是闪退不报错，一种是未响应

[2021-12-07 06:30] geoyee commented on #90
目前确定是在loadimage完毕后退出，缩放之后可以保存，没有错，但是不管保不保存，只要缩放过后，尝试换图像就会崩溃

[2021-12-07 06:35] geoyee commented on #90
但是loadimage中print显示代码都正常运行完成

[2021-12-07 06:52] geoyee commented on #90
问题复现步骤：
1. 加载一个图像文件夹
2. 标注第一张图像，按住ctrl+滚轮反复放大缩小（较大尺度的改变）
3. 保存结果
4. S/F或点击列表切换下一张图像
5. 崩溃

[2021-12-07 07:15] linhandev commented on #90
试了一下没复现，明天继续

[2021-12-07 12:34] chenhongjin811 commented on #93
嗯，我避免了缩放操作后，暂时没有出现闪退的情况了。

[2021-12-08 06:40] geoyee commented on #93
@chenhongjin811 请尝试rsfix分支的EISeg是否还有崩溃及其他问题，欢迎继续反馈

[2021-12-08 23:36] linhandev commented on #31
唉，这个问题还有吗，我记得应该fix过🤔

[2021-12-08 23:58] yharby commented on #90
I think we can close this issue now, pull the new updates and try to reproduce the issue again , if the app crashes please give us a feedback.
Thank You!

[2021-12-08 23:58] #90 closed, assigned to geoyee

[2021-12-08 23:59] yharby commented on #93
@chenhongjin811 @geoyee
I think we can close this issue now, pull the new updates and try to reproduce the issue again , if the app crashes please give us a feedback.
Thank You!

[2021-12-09 00:06] yharby commented on #31
@linhandev yes, I think we can label it as solved.

[2021-12-09 00:06] #31 closed

[2021-12-09 00:07] linhandev commented on #31
@Youssef-Harby maybe can try it out, if it is solved just close this.
Many thanks

[2021-12-09 06:13] geoyee commented on #91
现在已经将“weight” 和“height”交换过来了

[2021-12-09 07:44] geoyee commented on #91
@LouisDong1995  麻烦现在再试试呢（develop分支）。det我不是很熟悉，期待你反馈后续是否还有问题，以及有什么问题。

[2021-12-11 13:52] fangyuan2017 commented on #93
现在缩放的问题应该已经修复了，但是修改多边形的时候还是会遇到闪退这个情况

[2021-12-11 14:19] yharby commented on #93
@fangyuan2017 , you tried the latest commit ? can you send a video to reproduce the problem?
Thank you for your feedback!

[2021-12-11 15:28] geoyee commented on #93
收到，我们再排查一下，感谢反馈

[2021-12-23 13:50] geoyee opened #97 "EISeg闪退问题"
[paddleseg issue #1655](https://github.com/PaddlePaddle/PaddleSeg/issues/1655)

[2021-12-23 14:34] #64 closed, assigned to nobody

[2021-12-24 01:49] #97 closed, assigned to geoyee

[2021-12-27 13:06] torchmyheart commented on #55
@linhandev 您好，在制作实例分割数据的时候我也是这个问题，一个物体被分成两部分，会生成两个不同的bbox，是独立的两个segmentation。而在coco数据集里类似这种情况是将两个部分放在同一个id下的segmentation。冒昧问一下，目前有什么解决方案吗

[2021-12-27 13:31] torchmyheart commented on #55
@YDDDDG  楼主你好，请问你现在有什么解决办法吗，使用labelme然后转化成coco可以避免这个问题吗。期待回复！

[2021-12-27 13:35] YDDDDG commented on #55
你好！目前没用什么好的解决办法，我当前的一个折衷的办法是强行把一个物体的两个部分连接在一起（这样当然不是最佳方案，只是个折衷办法）

[2021-12-27 14:43] torchmyheart commented on #55
好的，我暂时也是这么想的 /lol

[2021-12-29 06:21] AlexXFM opened #99 "加载模型参数，交互窗口直接退出"
请帮忙分析如下bug，如何解决：
模型参数文件后缀是“pdiparams”，而窗口加载模型的识别格式是“pdparams”；将模型参数文件格式后缀修改为“pdparams”后，使用窗口加载模型，接着窗口直接关闭推出，标注工具无法使用
![image](https://user-images.githubusercontent.com/30640779/147632682-70e167ae-3b62-4ca7-83cd-f44598746b4b.png)

[2021-12-29 07:31] geoyee commented on #99
`pdiparams`是静态图的参数，`pdparams`是动态图的参数。在0.4.0以上EISeg已经都改为使用静态图了。所以请升级你的EISeg到最新版，你可以直接拉取develop分支下的。如果还有什么问题欢迎继续提issue

[2021-12-29 08:31] AlexXFM commented on #99
感谢解答！

[2021-12-29 08:31] #99 closed, assigned to geoyee

[2021-12-29 12:41] geoyee opened #100 "服务器Linux下无法选择文件夹"
点加载网络参数的时候，会弹出一个窗口让我选择模型参数，但是我点哪个文件夹都没反应，这个是出窗口的时候的信息。
![image](https://user-images.githubusercontent.com/71769312/147663115-d0cf1813-203d-4ff4-b203-368d861aff29.png)目前看起来可能是QT的问题，有下列参考：
- [https://stackoverflow.com/questions/47847739/qfiledialog-gtkdialog-mapped-without-a-transient-parent](https://stackoverflow.com/questions/47847739/qfiledialog-gtkdialog-mapped-without-a-transient-parent)
- [htt

[2021-12-29 12:49] geoyee commented on #100
@linhandev 韩哥空了看看呢，郑院士遇到这个问题。
@Youssef-Harby hello youssef, you can look at this if you are interested. In Linux, when we click to "load network parameters", a dialog will display for us to select model parameters, but we can't pushed to any folder. This image is the information, i think this is a problem in QT.

[2021-12-29 12:53] yharby commented on #100
Thanks @geoyee, I will look at this

[2021-12-29 17:47] yharby commented on #100
@geoyee , I cannot reproduce the problem, working just fine in my Ubuntu 20.04 VM
![ubuntuEISeg](https://user-images.githubusercontent.com/13020265/147689596-3d47d17d-cb89-45a3-986c-d2327554c4cc.gif)

[2021-12-30 01:24] geoyee commented on #100
no problem, this problem has been solved by @linhandev : Just use QT's file chooser instead of the original GTK.

[2021-12-30 01:28] linhandev commented on #100
solved with [this commit](https://github.com/PaddleCV-SIG/EISeg/commit/e5389aa01f3c732f7b1183d8a682c708ad099738)

[2021-12-30 01:28] #100 closed, assigned to yharby, geoyee

[2021-12-30 02:02] linhandev commented on #55
@YDDDDG @coderrubbish 您好，我们最近正在进行新版UI的升级，计划在新版中添加对一个物体被分成多个部分的支持。我们的计划是这样的：
![1](https://user-images.githubusercontent.com/29757093/147715694-9e986ad1-7cdd-4c61-9c33-c29111452d1d.jpg)
存储上也是用一个多边形将一个物体的两部分连起来，但是连起来的两根线是完全重合的，4多个点的坐标两两相同。展示的时候这两根线不会展示。这样在生成mask的时候应该不会多像素。如果在其他软件打开应该也只是展示上多出一根线，只要不动四个端点也不影响我们的软件重新识别这两个部分并隐去中间的链接线。
不知道大佬们觉得这个格式是不是make sense

[2021-12-30 03:21] chaochunbuaimei opened #101 "影像标注之后，多边形变为矩形"
**bug描述**
利用建筑物标注模型，空格结束标注，多边形变为矩形

**截屏**
如果
![INML_OK28116CIKTG$D%14Q](https://user-images.githubusercontent.com/78142932/147719035-9fb0f6c0-5490-468a-8552-9ee3c7288f65.png)
![$S{@3FLKX1R%27C$9%% N](https://user-images.githubusercontent.com/78142932/147719046-9bb572d0-0d22-43d8-b4c6-e95bd1f189cf.png)

**运行环境（请尽量填写，这可以帮助我们定位问题）：**
 - 系统： [win10 虚拟机]
 - 安装方式：[e.g. 克隆代码]
 - 软件版本：[0.4.1]

[2021-12-30 04:00] #101 closed, assigned to nobody

[2021-12-30 05:52] geoyee commented on #101
你可以把那个建筑边界简化关闭就可以了，现在这个简化在某些场景下效果还不好

[2021-12-30 07:48] torchmyheart commented on #55
@linhandev 非常感谢贵团队的努力，期待新版本上线

[2021-12-30 08:15] linhandev commented on #55
@coderrubbish 大佬客气了。这个功能现在还没开始实现，如果有什么更好的想法也欢迎大佬们提意见

[2021-12-30 08:45] YDDDDG commented on #55
@linhandev 感谢！期待新功能新版本！

[2022-01-07 02:23] GallonDeng opened #103 "训练垂类方向场景模型"
请问可以自己训练垂类方向场景的模型，并用在EISeg中吗

[2022-01-07 17:00] linhandev commented on #103
我们目前还没有公开训练模型部分的代码，目前是提供医疗和遥感两个方向的模型，如果大佬有其他方向的需求我们可以研究添加

[2022-01-11 03:26] chenhongjin811 commented on #93
请问现在没有看到rsfix分支了，在哪个下面呢

[2022-01-12 01:45] geoyee commented on #93
合并到develop了

[2022-01-21 09:32] rainoo opened #104 "加载tif格式文件后闪退"
**bug描述**
eiseg的0.4.1.2版本，按照目的文档，使用GDAL-3.4.1-cp37-cp37m-win_amd64.whl安装gdal，使用conda install rasterio安装完毕。
conda install rasterio这个要求python版本是3.7，之前用的3.9，3.8的都安装失败。

**复现方法**
如bug描述

**截屏**
下边是控制台错误提示。eiseg直接闪退。
![image](https://user-images.githubusercontent.com/18376321/150502670-e8c0884d-4909-42e8-a4f1-11a612e70e3d.png)

**运行环境（请尽量填写，这可以帮助我们定位问题）：**
 - 系统： [Windows 11]
 - 安装方式：[pip]
 - 软件版本：[0.4

[2022-01-21 10:01] yharby commented on #104
Try to run ``gdalinfo --version`` in terminal
If installed, make sure to add proj path folder in windows env
if not, try to follow these instructions to install GDAL on Windows
https://sandbox.idre.ucla.edu/sandbox/tutorials/installing-gdal-for-windows

[2022-01-22 00:14] #62 closed, assigned to nobody

[2022-01-24 04:00] rainoo commented on #104
![image](https://user-images.githubusercontent.com/18376321/150719906-36afedad-14a3-4470-87a4-128f2fb3a15b.png)
I use pip install to install eiseg，not project in local.

‘’‘
add proj path folder in windows env
‘’‘

How should can I do ?

[2022-01-25 06:14] rainoo commented on #104
I am not sure the proj path where I installed

[2022-01-26 01:54] geoyee commented on #104
请检查一下这个数据，我想大概你是装好了环境的，问题在于这个数据的`crs`可能为None，所以无法访问到它的`wkt`。我刚刚尝试把一个`jpg`图像改成`tif`，我收到了和你同样的错误。

[2022-01-26 02:25] geoyee commented on #104
@rainoo  请试试现在的呢，当`crs`为空的时候也能加载，就是保存shp会提示无法保存

[2022-02-10 06:44] arkofgalaxy opened #105 "can not use with ubuntu 16.04 lst"
install the eiseg with pip ,open it said that:
![Selection_006](https://user-images.githubusercontent.com/28675720/153351978-b3d4ef5a-9224-4387-9f2b-30a0577ecb09.png)
and clone it ,it said the same.
that is the conda environment list.
[conda list.txt](https://github.com/PaddleCV-SIG/EISeg/files/8038677/conda.list.txt)

[2022-02-10 15:13] geoyee commented on #105
please try to upgrade PyQt from 5.12 to 5.13+ and see if the problem is solved

[2022-02-17 08:30] Enn29 opened #106 "最新版0.4.0 有windows exe么"
最新版0.4.0 有windows exe么，还是说直接在0.3版本上替换文件就可以了

[2022-02-20 05:59] geoyee commented on #106
不好意思没有的，没有提供

[2022-02-20 06:00] geoyee commented on #105
do you solve it?

[2022-02-20 07:15] arkofgalaxy commented on #105
no,the 5.13 version can not install. T A T. I try to solve it , but not find a useful way.

[2022-02-20 09:40] geoyee commented on #105
ok, i find a samed problem as your in some forums, they told me upgrade PyQt > 5.13+, because this is a old problem in PyQt and solved in 5.13.

[2022-02-21 01:22] Enn29 commented on #106
这个后续会提供么，我有试着用qpt打包，运行时会报错，方便解决一下么？
![image](https://user-images.githubusercontent.com/63645468/154874283-2d7269fc-09df-44cc-8a7b-b59141885ec7.png)

[2022-02-21 02:54] geoyee commented on #106
抱歉后面不提供打包了，之前有个打包的项目我找了找不见了~或许你可以在QPT的repo下提issue

[2022-02-21 03:55] geoyee commented on #106
我找到了，试试这个 [https://github.com/geoyee/eiseg2exe](https://github.com/geoyee/eiseg2exe)

[2022-02-21 05:01] Enn29 commented on #106
好的，谢谢

[2022-02-22 02:05] #106 closed, assigned to nobody

[2022-03-06 05:56] xuhuanzy opened #107 "NameError: name 'osr' is not defined"
**bug描述**

克隆下来的4.1代码无法启动
PaddleSeg\EISeg\eiseg\plugin\remotesensing\shape.py报错NameError: name 'osr' is not defined
pip下载的可以正常启动

**截屏**
如果条件允许可以添加针对问题的截屏，可以帮助我们理解问题。

**运行环境（请尽量填写，这可以帮助我们定位问题）：**
 - 系统：Windows
 - 安装方式：克隆代码&pip
 - 软件版本：4.1

[2022-03-06 09:04] geoyee commented on #107
请问gdal的版本是什么

[2022-03-06 17:04] xuhuanzy commented on #107
gdal下不下来, 干脆拿了pip下载的文件覆盖了克隆的, 虽然还是没下载但成功启动了
请问未来有可能支持标注框显示标签吗?

[2022-03-09 07:23] Xfinland commented on #107
我是 docker pull registry.baidubce.com/paddlepaddle/paddle:2.2.2 这个镜像，也是报的同一个错误。。

[2022-03-10 01:52] geoyee commented on #107
目前暂时没更新了，在整合其他任务一个新的标注工具。因为遥感那些基本依赖gdal，所以没有gdal的话遥感的功能没法用，如果是windows可以在[这里](https://www.lfd.uci.edu/~gohlke/pythonlibs/#gdal)下然后安装。linux的话应该是比较好转的，据说conda就行

[2022-03-10 01:55] geoyee commented on #107
这个感觉就是环境没gdal呀 (笑哭)

[2022-03-11 15:28] walletiger opened #108 "希望支持将png格式 mask 转换成eiseg可标注的数据集"
输入数据集:
img
  |---- 1.jpg
  |---- 2.jpg

lab
 | --- 1.png
 |---- 2.png

[2022-03-23 07:26] wu246147 opened #109 "标注时，空格确认后得到的标注结果会发生变化，导致标记结果无法使用"
**bug描述**
标注时，空格确认后得到的标注会发生变化，导致有些区域没法覆盖或其他不关注的区域覆盖了，这个结果没法使用。

**截屏**
原图：
![1648020137(1)](https://user-images.githubusercontent.com/57431829/159645175-29515c60-3966-4bd0-a07e-17ba92d6b359.jpg)
标注时：
![image](https://user-images.githubusercontent.com/57431829/159645301-a5b6766c-e88f-41cb-bc7e-8a9cbb749826.png)
标注确认后：
![image](https://user-images.githubusercontent.com/57431829/159645431-1d90e51c-4c

[2022-03-23 07:30] wu246147 commented on #109
不知道下面这个问题和我这个是不是同一个问题，但是我这里没有用建筑模型，而且我也看不到哪里有这个建筑边界简化的功能按键
https://github.com/PaddleCV-SIG/EISeg/issues/101#issue-1090850728

[2022-03-23 09:01] wu246147 commented on #109
自己看来一下代码，看到里面用到好几个边界简化算法，结果把这个自定义的简化方法屏蔽掉后，就没有出现之前的问题了
![image](https://user-images.githubusercontent.com/57431829/159662127-b596ec51-389d-4e74-adaa-b78362f7290c.png)

[2022-03-23 09:02] #109 closed, assigned to nobody

[2022-03-28 20:01] ashmrz opened #110 "Command Line (Headless) Execution"
Dear authors,

Thank you very much for your great contribution and for releasing this tool. I was wondering whether it is possible to run this tool without having to execute the GUI or not. I want to give the model weights, an image, and the sparse labels to the model inside another code, and don't want to go through the GUI. Please let me know if currently there is support for such executions.

T

[2022-03-29 01:02] geoyee commented on #110
maybe you can try to look at [controller.py](https://github.com/PaddleCV-SIG/EISeg/blob/develop/eiseg/controller.py)

[2022-03-29 01:04] geoyee commented on #108
目前暂无更新计划，后续会讨论这个问题，感谢您的支持

[2022-04-18 11:13] yangweiguang213 opened #111 "plugin\remotesensing\raster.py line123 遥感图像显示为黑色"
**bug描述**
请大致描述出错的现象，在什么情况下或操作过程中遇到，在上述条件下是否总是出现等。
float32型tif（0~1）会将数据全部替换为0，显示图像为黑色。

**解决方法**
rgb.append(np.uint16(self.src_data.read(b))) --> rgb.append(self.src_data.read(b))

[2022-04-18 11:34] geoyee commented on #111
确实，大佬可以提个pr参与贡献一下 😄

[2022-04-19 11:49] geoyee commented on #111
感谢你的贡献 😄

[2022-04-19 14:33] #111 closed, assigned to geoyee

[2022-04-22 09:44] torchmyheart commented on #55
@linhandev 您好，请问按下空格之后生成box和mask的这一步的代码在哪个文件，我想自定义一下annotations中的结构，比如在annotations中再加入一对key-value，我该改写哪个文件。
提前感谢，期待回复

[2022-04-26 09:59] jzp520520 opened #113 "eiseg要求后缀名pdiparams比原来的多了字母i"
**bug描述**
导入模型文件，软件要求的后缀名pdiparams,比下载的模型文件后缀名多了字母i,后缀名不带i的文件无法访问到，若将不带i的文件后缀改成带i,导入eiseg,则eiseg闪退。python提示：
Traceback (most recent call last):
  File "C:\Users\89755\PycharmProjects\pythonProject\venv\Lib\site-packages\eiseg\app.py", line 56, in run
    success, res = self.controller.setModel(self.param_path, False)
  File "C:\Users\89755\PycharmProjects\pythonProject\venv\Lib\site-packages\eiseg

[2022-04-26 10:06] geoyee commented on #113
你好。`pdiparams`是静态图模型，现在EISeg需要加载静态图模型，请在这里的地址进行下载

![image](https://user-images.githubusercontent.com/71769312/165276496-308a64fc-9586-40c6-b498-9702f69da4d3.png)

[2022-05-12 06:21] zhangzscn opened #114 "当需要在多边形内部继续进行交互，希望能够在原来生成的多边形边界基础上继续交互"
现在的软件，按空格继续交互后，只能生成新的多边形边界，无法在原来生成的多边形边界的基础上继续交互。
比如，还没交互完，误触发空格，这时，因为不能在在原来生成的多边形边界的基础上继续交互，所以只能删除掉多边形，重头开始交互，这样比较费事。
如果有这个功能，就可以使用语义分割模型进行预先标注，然后，使用这个软件在语义分割模型生成的多边形基础上，继续进行交互，这样更方便一点。

[2022-05-16 02:29] ChenQiang-CN opened #115 "无法导入GDAL"
# 已按照要求安装相应环境，在打开TIF数据时，仍提示“无法导入GDAL”

![image](https://user-images.githubusercontent.com/60353417/168509705-6348a480-eda3-44d5-bbad-8319de5e4aa3.png)

# 导入GDAL正常
![image](https://user-images.githubusercontent.com/60353417/168509796-d288c70a-1307-4a7b-93ba-403a3c4ae9c0.png)

[2022-05-25 04:10] YasinFu opened #116 "eiseg宫格标注"
大尺寸图片标注是自动跳出是否宫格，每次关闭太麻烦

在设置里可以直接关闭宫格，这样可以不根据尺寸提示是否宫格标注

[2022-05-30 09:54] Leon-Brant opened #117 "标定好图像标签后，标签的自动保存路径与先前设定的路径不一致！"
截至当前，eiseg最新版本是0.5.0，我在使用时发现打完标签后，标签的自动保存有点问题。问题是：打开文件夹导入图像，设定好自动保存路径，接下来，虽然按S，F键能够在自动保存标签后切换上下张图片，但是！但是！标注几张图像后你就会发现标签文件并没有保存到设定的自动保存目录中，而是保存在输入图像文件夹下自动创建的一个名为label的文件夹中！这就很奇怪！这难道不算Bug吗？

[2022-05-30 10:08] Leon-Brant commented on #107
据我所知，标注软件labelimg和labelme是支持在一个标注框中显示已标注的标签信息的。目前eiseg也支持在标注框中显示标注信息吗？

[2022-05-31 00:33] geoyee commented on #116
收到，感谢您的建议

[2022-05-31 00:34] geoyee commented on #115
请问可以提供下报错的截图吗

[2022-05-31 00:36] geoyee commented on #114
确实，后面的话有时间可以考虑改进这里，感谢您的建议

[2022-05-31 00:36] #89 closed, assigned to nobody

[2022-05-31 00:37] geoyee commented on #117
收到，我先试试看~

[2022-05-31 03:48] Leon-Brant opened #118 "Hope to add the function of converting json format labels to coco format labels in one click"
Currently, if we have labeled a batch of images in JSON format, we can only re-label the image if we want to save the label to coco format. This is not very convenient for users, i hope the official can add this function, or can also release the script to achieve such a function. I saw that this software script only semantic tags into instance tags, so few scripts seem to be inconsistent with such

[2022-05-31 06:59] geoyee commented on #117
我想[这里](https://github.com/PaddleCV-SIG/EISeg/commit/ecbbe36adada152910b5226925925ce3d0138eaa)解决了，不过由于加载文件夹的时候会搜索文件夹下是否有label这个文件夹，所以保存在其他地方下次加载就没有之前标注的结果了。

[2022-05-31 08:03] geoyee commented on #116
[这里](https://github.com/PaddleCV-SIG/EISeg/commit/4b4ded827679e9185c98b3f0b34dc64e6f0760fa)应该可以了，可以试试现在ok吗，在`功能`最下面可以选择时候检查大小，不开启的话，如果打开了宫格工作区就默认使用，没打开宫格工作区就默认不使用

[2022-06-01 01:35] YasinFu commented on #116
感谢，源码下载安装后已可用。请问pip的库何时更新，目前为了方便依赖库安装，我们这边其他人都是用pip安装的。

[2022-06-03 06:07] geoyee commented on #116
pypi的是paddleseg下面的，与这个还有点不同，所以下次更新的时候加上

[2022-06-06 03:01] TaChao opened #119 "启动时protobuf 报错"
**bug描述**
启动时protobuf 报错, 是否考虑升级protobuf 或者在pip包中指定protobuf版本

**截屏**
[code]

**运行环境（请尽量填写，这可以帮助我们定位问题）：**
 - 系统： [Mac os/Linux]
 - 安装方式：[pip]
 - 软件版本：[0.5.0]

[2022-06-09 05:28] YasinFu commented on #116
好的👌

[2022-06-09 05:28] #116 closed, assigned to geoyee

[2022-06-10 04:55] YQisme opened #120 "加载模型后闪退"
D:\anaconda3\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp, sys, os
qt.qpa.fonts: Unable to enumerate family ' "Droid Sans Mono Dotted for Powerline" '
qt.qpa.fonts: Unable to enumerate family ' "Droid Sans Mono Slashed for Powerline" '
qt.qpa.fonts: Unable to en

[2022-06-24 02:48] Yanghanwa opened #121 "宫格功能时，AttributeError: 'NoneType' object has no attribute 'getGrid'报错。"
**bug描述**
在使用宫格功能时，在点击”保存每个宫格的标签“后，自动弹出文件夹，点击相应文件夹（有要求吗？）后，再次点击下一个要标注的宫格时，程序自动退出。且出现如下报错：
AttributeError: 'NoneType' object has no attribute 'getGrid'

**截屏**
![image](https://user-images.githubusercontent.com/108108090/175448912-4eeff59c-2b1c-4c0d-b644-b6bc6d71be01.png)。

**运行环境（请尽量填写，这可以帮助我们定位问题）：**
 - 系统： Windows
 - 安装方式：pip
 - 软件版本：2.3（最新）

[2022-06-29 02:59] YasinFu opened #122 "PaddleSeg中要求标签是单通道，EISeg标注出的伪彩色为什么是三通道"
**bug描述**
PaddleSeg中要求标签是单通道，其示例训练代码中的optic_disc_seg 数据集标签也用的单通道伪彩色。请问EISeg标注出的伪彩色为什么是三通道，不能直接用于PaddleSeg训练吗？

[2022-06-29 08:15] geoyee commented on #122
你用PIL打开试试,，应该是单通道的伪彩色啊
[code]

[2022-06-30 03:00] YasinFu commented on #122
生成的是三通道，以下是对一张伪彩色图的分析

(2048, 2048, 3)

[2022-06-30 03:03] YasinFu commented on #122
另外查看图片信息也能看到位深度是24

[2022-06-30 09:05] geoyee commented on #122
对不好意思记错了，今晚改一下 😄

[2022-06-30 23:23] linhandev commented on #122
伪彩色是方便人看的标签，彩色的图片肯定是3通道的。给网络训练的标签里面只有1 2 3，在0～255的灰度范围里一般都很小，直接看灰度的标签图基本都是黑的。 @geoyee

[2022-07-01 03:20] geoyee commented on #122
也是哈，保存的时候保存了单通的图像的。我估计是想要那种调色板的，看起来是彩色的读出来是单通道的

[2022-07-01 03:36] geoyee commented on #119
试试升级protobuf看呢，我看了下我的环境中protobuf是3.20.0的，可以启动

[2022-07-01 03:41] geoyee commented on #120
可以参考这个试试？
[https://blog.csdn.net/weixin_43823786/article/details/124525625](https://blog.csdn.net/weixin_43823786/article/details/124525625)
[https://blog.csdn.net/m0_50736744/article/details/121799432](https://blog.csdn.net/weixin_43823786/article/details/124525625)（方法二）

[2022-07-01 04:24] YasinFu commented on #122
对，正如PaddleSeg的“标注数据的准备”中提到的：“PaddleSeg支持伪彩色图作为标注图片，在原来的单通道图片基础上，注入调色板。在基本不增加图片大小的基础上，却可以显示出彩色的效果。”，示例数据集optic_disc_seg 里的就是这样的，方便既能算法使用也能人眼分析。
目前我标注的时候灰度图也一并保存了，就先用灰度做训练了，暂时没啥影响。

[2022-07-04 14:39] ht719 opened #123 "怎么设置前景色为白色"
怎么设置前景色为白色？

[2022-07-05 09:23] rane7 opened #124 "有没有工具将pth预训练模型转换为padparams模型加载到EIseg中"
如题

[2022-07-07 01:56] #124 closed, assigned to nobody

[2022-07-07 01:57] rane7 commented on #124
希望开源

[2022-07-11 04:15] Leon-Brant commented on #120
这里面讲述的方法并不奏效，我在网上查了一些资料，eiseg加载模型后闪退是因为anaconda安装的其他环境中也存在libiomp5md.dll这个动态库文件。假如你安装的虚拟环境比较多的话，这个动态库文件甚至不止有一个。我的建议是不要删除别的虚拟环境下的libiomp5md.dll，而是应该把Anaconda\envs\paddle\Library\bin路径下的libiomp5md.dll删掉。我尝试后发现重新打开eiseg，加载模型后不再闪退。

[2022-07-11 07:49] geoyee commented on #123
保存的标签是0,1,2，....的，如果只是只有一个前景和背景就是0-1的图像，看起来是黑的，可以都乘上255那么前景就是白色了

[2022-07-11 07:50] geoyee commented on #120
感谢您的回答

[2022-07-11 08:19] YQisme commented on #120
已解决，谢谢

[2022-07-11 08:19] #120 closed, assigned to nobody

[2022-07-12 09:58] W2YN opened #125 "EISEG标注中断问题"
EISEG版本：devlop
我最近使用感觉2个地方不太便捷，如果批量标注中断关闭软件后，原先标注已经没了 只能选择再打开文件夹，但是发现图片顺序也变了，有点尴尬了
还有个问题就是右侧能不能搞个加载的图片列表

[2022-07-14 07:47] W2YN commented on #125
安装0.5版本，发现右侧有图片列表，关闭后也能显示原标注的位置，但是保存后闪退，再打开后，标注位置丢失

异常：
Traceback (most recent call last):
  File "c:\programdata\anaconda3\envs\eiseg\lib\site-packages\eiseg\app.py", lin
e 1435, in exportLabel
    l = self.controller.labelList[polygon.labelIndex - 1]
  File "c:\programdata\anaconda3\envs\eiseg\lib\site-packages\eiseg\util\label.p
y", line 99, in __getitem__
    return self.labelList[index]
Inde

[2022-07-14 08:39] W2YN opened #126 "eiseg标注图片边缘锯齿状"
eiseg: 0.5.0

在对图片标注，生成mask图片边缘不圆滑，很多锯齿一样的东西 不知道怎么处理

如下图所示
[https://imgs.wiki/imgs/2022/07/14/5670f23ab401e16c.png](url)

[2022-09-21 06:23] #115 closed, assigned to geoyee

[2022-10-11 07:28] Xfinland commented on #107
没错，我用conda成功跑起来了。  我也发现新的仓库地址 https://github.com/PaddlePaddle/PaddleSeg

Yizhou Chen ***@***.***> 于2022年3月10日周四 09:56写道：

[2022-10-25 14:10] FCInter opened #128 "怎么把语义分割的标注改成实例分割呢？"
如题。

标完一批图片了突然发现想做实例分割。求助T.T

[2022-10-28 10:07] linhandev commented on #128
目前是没有语义和实例互相转的支持。如果语义分割的结果里目标的掩膜相连的情况不是很多可能可以做一下联通块操作把类别相同但是不联通的掩膜部分切成不同的实例🤔